.featured {
  width: 100%;
  min-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 40%;
}

.featuredImg {
  width: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
