.hotelContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotelTitle {
  font-size: 24px;
  color: #009fe3;
}

.hotelAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  color: #009fe3;
  font-weight: 500;
}

.hotelPriceHighlight {
  color: #3a9f41;
  font-weight: 500;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsText {
  flex: 3;
}

.hotelDesc {
  font-size: 16px;
  margin-top: 20px;
}
.hotelDetailsPrice {
  flex: 1;
  background-color: #f2f6fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDetailsPrice > h1 {
  font-size: 20px;
  color: #666;
}

.hotelDetailsPrice > span {
  font-size: 16px;
}

.hotelDetailsPrice > h2 {
  font-size: 20px;
  font-weight: 500;
}

.hotelDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #009fe3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
