.navbar {
  height: 50px;
  background-color: #003580;
  padding-top: 1rem;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyName {
  font-weight: 500;
}
